html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}
/* colors */
.black{
  color:black;
}
.gray{
  color:#E6E8E9;
}
.natural-gray{
  color:gray;
}
.dark-soft{
  color:#3A4451;
}
.dark-strong{
  color: #091625;
}
.white{
  color:white;
}
/* background colors */
.blackBackground{
  background-color: black;
}
.grayBackground,
.grayBackgroundCopy{
  background:#E6E8E9;
}

.grayBackground:hover{
  background: #ced9ea;
}
.dark-softBackground{
  background:#3A4451;
}
.dark-strongBackground{
  background: #091625;
}
.noneBackground{
  background: transparent;
}

/* fonts */
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}
h3{
  font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.pictureGeneric{
  height: 120px;
  width: 120px;
  position:absolute;
}

.separator{
  height:5px;
  width:100%;
  margin-top:24px;
}
input{
  width: 50px;
}
.genericItem{
  width: 1020px;
  display:flex;
  flex-direction: column;
  position: relative;
  margin-top: 24px;
}

.genericInfo{
  position: relative;
  left:136px;
}
.genericContainer-orderSummaryContainer{
  display: flex;
  flex-direction: row;

}
.orderSummaryContainer{
  width: 452px;
  display: flex;
  justify-content: center;
}
.priceResults{
  position:absolute;
  right:0;
  top:0;
  text-align: end;
}

.ml-5{
  margin-left: 5px;
}
.ml-24{
  margin-left: 24px;
}
.mt-40{
  margin-top:40px;
}
.ml-94{
  margin-left: 94px;
}

.ta-l{
  text-align:left;
}
.ml-90{
  margin-left:90px
}
.mr-90{
  margin-right:90px
}
.btn-generic{
  background: transparent;
  border: transparent;
  cursor: pointer;
}

.btn-summary-checkout,
.btn-summary-shopping{
  border-radius: 8px;
  padding: 12px 24px;
  width: 336px;
  margin-bottom: 6px;
  margin-top: 6px;
  font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}
.btn-summary-shopping{
  border: 2px solid #091625
}
.btns-summary{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sumatoria{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editPackButton{
  border-right: 1px solid black;
}
.youMightAlsoLike{
  display: flex;
  flex-direction: row;
  gap:28px;
  justify-content: center;
  margin-left:-50px;
  margin-top:100px;
}
.youMightAlsoTitle{
  position:relative;
  right:650px;
  top:80px;

}
.youMightChild{
  height: 336px;
  width: 336px;  
}

/* footer */
.footer{
  background: #E6E8E9;
  margin-top:120px;
  width: 100%;
  position: relative;
  left: 0;
  bottom:0;

}
.footerUp{
  display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-around;
    margin-top: 80px;
}
.footerDown{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  margin-bottom: 76px;
    margin-right: 149px;
    margin-left: 158px;
    margin-top: 120px;
}
.right{
  display: flex;
  gap:36px;
  justify-content: center;
  flex-direction: row;
}
.leftInfo,
.companyInfo,
.helpInfo,
.information{
  display:flex;
  flex-direction: column;
  gap:20px;
}
.leftInfo{
  width:264px;
}
.redesSocialesFooter{
  gap:8px;
  display: flex;
  flex-direction: row;
}
a{
  color: black;
  text-decoration: none;
}
.logoFooter{
  font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}

/* navbar */
.navbarGray,
.navbarBlack{
  width:100%;
}
.navbarBlack{
  height: 88px;
}
.navbarGray{
  display: flex;
  align-items: center;
  height: 64px;
  gap:24px;
}
.navbarLinks{
  position: relative;
  left: 12rem;
  gap: 30px;
  display: flex;    
}
.navbarRigth{
  display: flex;
  flex-direction: row;
  gap:27px;
  position: absolute;
  right: 90px;
}
.centering{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:12px;
}

#search{
  border-radius:20px;
  height: 40px;
  width:700px;
}


